@import '../../../utils/variables';

.dash-cards {
  padding: 1rem;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
  grid-column: span 2;
  color: #fff;

  .photo {
    height: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &.col-green {
    background-color: #483290;
  }
  &.col-blue {
    background-color: $temp-green;
  }
  &.col-pink {
    background-color: #ad3e56;
  }
  &.col-red {
    background-color: #7e3896;
  }
}
