@import '../../utils/variables';

.sidebar {
  width: 15rem;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($temp-blue, 0.9),
      rgba($temp-blue, 0.9)
    ),
    url(https://res.cloudinary.com/winter-cake/image/upload/v1581518649/banque/pile-of-gold-round-coins_zmdjw9.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .logo {
    // margin-top: 1rem;
    padding: 1rem;
  }

  .menu_list {
    margin-top: 2rem;
    display: grid;
    grid-auto-rows: 3rem;
  }
}

// li:last-child {
//   position: absolute;
//   top: 900px;
// }
