@import '../../utils/variables';

.sidebar {
  width: 15rem;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($temp-blue, 0.9),
      rgba($temp-blue, 0.9)
    ),
    url(https://res.cloudinary.com/winter-cake/image/upload/v1581518649/banque/pile-of-gold-round-coins_zmdjw9.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // sticky nav
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .logo {
    padding: 1rem;
  }

  .menu_list {
    margin-top: 2rem;
    display: grid;
    grid-auto-rows: 3rem;
  }

  @media screen and (max-width: 900px) {
    position: absolute;
    left: -280px;
    transition: left 2s;
    width: 200px;
  }
}
