@import '../../utils/variables';

.usernav {
  height: 8vh;
  width: 100%;
  display: flex;
  background-color: $temp-blue;
  color: #fff;
  align-items: center;
  justify-content: space-between;

  .name {
    margin-left: 2rem;
    font-size: 1.2rem;
    p {
      text-transform: capitalize;
    }
  }

  .logout {
    margin-right: 2rem;
  }
}
