$temp-green: #52d267;
$temp-blue: #2e4fef;

.register {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 2.5rem;
  max-width: 30rem;

  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 0.5rem;

    &:active,
    &:hover {
      border: 1px solid $temp-blue;
    }

    &:focus {
      border: 1px solid $temp-blue;
      box-shadow: 0 0 0.2rem rgba($color: $temp-blue, $alpha: 0.5);
    }

    &.email {
      grid-column: 1 / -1;
    }

    &.reg-btn {
      background-color: $temp-green;
      color: #fff;
      grid-column: 1 / -1;
    }
  }
}

.info {
  margin-top: 1rem;
  text-align: center;
  letter-spacing: 0.5px;

  .login2 {
    text-decoration: none;
    font-weight: 700;
  }
}
